.reg-section {
    height: 100vh;
    height: 100dvh;

    background-image: url('/images/back-section-main.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.reg-section * {
    font-family: var(--play);
}

.reg__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 65px;

    max-width: 490px;
    height: 100%;
}

.reg__wrapper h1 {
    position: relative;

    width: 100%;

    font-weight: 900;
    font-size: 128px;
    letter-spacing: 0.05em;
    color: var(--color-opal);
}

.reg__wrapper h1 p {
    text-align: right;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0.15em;
    color: var(--color-white);

    transform: translateX(-59px);
}

.reg__wrapper form {
    display: flex;
    flex-direction: column;
    gap: 23px;

    width: 100%;
}

.form__wrapper-reg {
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.form__wrapper-reg>div {
    position: relative;
}

.form__wrapper-reg input:not([type=radio]) {
    width: 100%;
    height: 48px;

    border: 1px solid var(--color-opal);
    border-radius: var(--radius-24);
    backdrop-filter: blur(5px);
    background: rgba(217, 217, 217, 0.3);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.15em;
    color: var(--color-opal);

    padding-left: 24px;
}

.form__wrapper-reg input::placeholder {
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.15em;
    color: var(--color-opal);
}

.form__radio {
    display: flex;
    align-items: center;
    gap: 45px;
}

.form__radio input:checked+label::before {
    content: "";

    width: 70%;
    height: 70%;
}

.form__radio input+label::before {
    content: "";

    width: 0%;
    height: 0%;

    border-radius: var(--radius-50);
    background-color: var(--color-opal);

    transition: linear 200ms;
    -webkit-transition: linear 200ms;
    -moz-transition: linear 200ms;
}

.form__radio label {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 22px;
    height: 22px;

    backdrop-filter: blur(5px);
    background: rgba(217, 217, 217, 0.3);
    border-radius: var(--radius-50);
    border: 1px solid var(--color-opal);

    cursor: pointer;
}

.form__radio label.warning {
    border: 2px solid var(--color-red);
    background-color: var(--color-white);
}

.form__radio input {
    display: none;
}

.form__radio a {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.15em;
    text-align: center;
    color: var(--color-opal);

    cursor: default;
}

.form_btns {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form_btns button {
    width: 100%;
    height: 48px;

    border-radius: var(--radius-24);
    background-color: var(--color-meadow);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.15em;
    color: var(--color-opal);
}

.form_btns button.warning {
    background-color: var(--color-woodland);
}

.form_btns p {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.15em;
    text-align: center;
    color: var(--color-opal);
}

.form_btns p a {
    font-weight: 900;
    color: var(--color-opal);
}

/* ------------ Laptop ------------- */

@media (max-width: 1600px) {
    .reg__wrapper {
        justify-content: flex-end;
        gap: 45px;

        max-width: 450px;
        height: calc(100% - 168px);

        transform: translateY(128px);
    }

    .reg__wrapper h1 {
        font-size: 100px;
    }

    .reg__wrapper h1 p {
        font-size: 16px;
        color: var(--color-white);

        transform: translateX(-93px);
    }

    .reg__wrapper form {
        gap: 45px;
    }

    .form__wrapper-reg {
        gap: 20px;
    }

    .form__wrapper-reg input:not([type=radio]) {
        height: 40px;

        font-size: 16px;
    }

    .form__wrapper-reg input::placeholder {
        font-size: 16px;
    }

    .form__radio {
        gap: 35px;
    }

    .form__radio a {
        font-size: 13px;
    }

    .form_btns {
        gap: 15px;
    }

    .form_btns button {
        height: 40px;

        font-size: 16px;
    }

    .form_btns p {
        font-size: 13px;
    }
}

/* ------------ Netbook ------------- */

@media (max-width: 1200px) {
    .reg__wrapper {
        gap: 30px;

        max-width: 390px;
        height: calc(100% - 148px);

        transform: translateY(128px);
    }

    .reg__wrapper h1 {
        font-size: 80px;
    }

    .reg__wrapper h1 p {
        font-size: 14px;
        color: var(--color-white);

        transform: translateX(-93px);
    }

    .reg__wrapper form {
        gap: 30px;
    }

    .form__wrapper-reg {
        gap: 16px;
    }

    .form__wrapper-reg input:not([type=radio]) {
        height: 35px;

        font-size: 15px;
    }

    .form__wrapper-reg input::placeholder {
        font-size: 15px;
    }

    .form__radio {
        gap: 25px;
    }

    .form__radio label {
        width: 18px;
        height: 18px;
    }

    .form__radio a {
        font-size: 12px;
    }

    .form_btns {
        gap: 10px;
    }

    .form_btns button {
        height: 35px;

        font-size: 15px;
    }

    .form_btns p {
        font-size: 12px;
    }
}

/* ------------ Big-Tablet ------------- */

@media (max-width: 1050px) {
    .reg__wrapper {
        justify-content: center;
        gap: 30px;

        max-width: 390px;
        height: 100%;

        transform: translateY(0);
    }

    .form__radio label.warning {
        border: 1px solid var(--color-red);
    }
}

/* ------------ Mobile ------------- */

@media (max-width: 480px) {
    .reg__wrapper {
        align-items: start;
        justify-content: center;
        gap: 30px;

        max-width: none;

        padding: 0 30px;
    }

    .reg__wrapper h1 {
        width: fit-content;
    }

    .reg__wrapper h1 p {
        transform: translateX(63px);
    }

    .form__wrapper-reg input:not([type=radio]) {
        height: 40px;
    }

    .form__radio {
        gap: 10px;
    }

    .form__radio label {
        width: 15px;
        height: 15px;
    }

    .form__radio a {
        font-size: 11px;
    }

    .form_btns button {
        height: 40px;
    }
}

/* ------------ Small Mobile ------------- */

@media (max-width: 390px) {
    .reg__wrapper {
        padding: 0 10px;
    }
}