.section-works {
    padding: 100px 104px;
}

.work__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 147px;

    padding-top: 200px;
}

.work__item {
    position: relative;

    flex: 0 0 calc(50% - 12px);

    background-color: var(--color-opal);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

    padding: 52px;
}

.work__item-bookmarks {
    position: absolute;
    top: 0;
    left: 25px;

    display: flex;
    align-items: flex-end;
    gap: 7px;

    transform: translateY(-76px);
}

.work__item-grade {
    position: relative;

    background-color: var(--color-red);

    padding: 15px 30px 20px 30px;
}

.work__item-grade::after,
.work__item-status::after {
    content: "";

    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 12px;

    background: linear-gradient(0deg, #243030 0%, rgba(37, 49, 49, 0.48) 49%, rgba(37, 49, 49, 0) 100%);
}

.work__item-grade span {
    display: block;

    font-family: var(--play);
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.15em;
    text-align: center;
    color: var(--color-opal);

    margin-bottom: 7px;
}

.work__item-grade p {
    font-family: var(--old);
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.05em;
    text-align: center;
    color: var(--color-opal);
}

.work__item-status {
    position: relative;

    background-color: var(--color-meadow);

    padding: 20px 9px 17px 9px;
}

.work__item-status p {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.15em;
    text-align: center;
    color: var(--color-opal);
}

.work__item-title {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: fit-content;

    margin-bottom: 20px;
}

.work__item-title .title__line {
    width: 100%;
}

.work__item-title-p {
    transform: translateY(-3px);

    padding: 0px 30px;
}

.work__item-title-p p {
    font-family: var(--play);
    font-weight: 600;
    font-size: 24px;
    letter-spacing: 0.05em;
    text-align: center;
    color: var(--color-forest);
    white-space: nowrap;
}

.work__item-img {
    width: 100%;
    height: 164px;

    margin-bottom: 40px;
}

.work__item-img img {
    width: 100%;
    height: 100%;

    object-position: center center;
    object-fit: cover;
}

.work__item-content {
    display: flex;
    flex-direction: column;
    gap: 20px;

    width: 100%;

    margin-bottom: 40px;
}

.work__item-text {
    display: flex;
    gap: 25px;
}

.work__item-text:not(:last-child) {
    align-items: center;
}

.work__item-text p:first-child {
    flex: 0 0 22%;

    font-family: var(--old);
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 0.05em;
    line-height: 14px;
    color: var(--color-meadow);
    text-transform: uppercase;
}


.work__item-text p:last-child {
    font-family: var(--old);
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.05em;
    color: var(--color-woodland);
}


.work__item-btns>div {
    display: flex;
    justify-content: space-around;
    flex: 0 0 22%;
}

.work__item-more {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 48px;

    background-color: var(--color-meadow);
    border-radius: var(--radius-24);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.15em;
    color: var(--color-opal);
}

.modal-delete {
    position: absolute;
    top: 0;
    left: 0;

    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 45px;

    width: 100%;
    height: 100%;

    background-color: rgba(36, 48, 48, 0.8);
    backdrop-filter: blur(15px);

    padding: 10px;
}

.modal-delete p {
    width: 100%;
    max-width: 500px;

    font-family: var(--play);
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 0.15em;
    text-align: center;
    color: var(--color-opal)
}

.modal-delete__btns {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
}

.modal-delete__btn {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 230px;
    height: 50px;

    border-radius: var(--radius-24);
    background-color: var(--color-opal);
    border: 1px solid var(--color-red);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.15em;
    text-align: center;
    color: var(--color-red);
}

a.modal-delete__btn {
    background-color: var(--color-red);
    color: var(--color-opal);
}

.deleted-work {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    width: 100%;
    height: 100%;

    background-color: var(--color-opal);
}

.deleted-work div {
    width: 93px;
    height: 93px;
}

.deleted-work div img {
    width: 100%;
    height: 100%;
}

.deleted-work p {
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 0.05em;
    text-align: center;
    color: var(--color-forest);
}

/* ------------ Laptop ------------- */

@media (max-width: 1600px) {
    .section-works {
        padding: 90px;
    }

    .work__wrapper {
        gap: 20px;
        row-gap: 147px;

        padding-top: 150px;
    }

    .work__item {
        flex: 0 0 calc(50% - 10px);

        padding: 35px;
    }

    .work__item-img {
        height: 134px;
    }

    .work__item-text p:first-child {
        flex: 0 0 28%;
    }

    .work__item-btns>div {
        flex: 0 0 28%;
    }
}

/* ------------ Netbook ------------- */

@media (max-width: 1200px) {
    .section-works {
        padding: 70px;
    }

    .work__wrapper {
        gap: 15px;
        row-gap: 147px;

        padding-top: 120px;
    }

    .work__item {
        flex: 0 0 calc(50% - 10px);

        padding: 20px;
    }

    .work__item-img {
        height: 114px;
    }

    .work__item-text p:first-child {
        flex: 0 0 28%;
    }
}

/* ------------ Big-Tablet ------------- */

@media (max-width: 1050px) {
    .section-works {
        padding: 70px 30px;
    }

    .work__wrapper {
        gap: 0px;
        row-gap: 147px;

        padding-top: 120px;
    }

    .work__item {
        flex: 0 0 calc(100%);

        padding: 40px;
    }

    .work__item-img {
        height: 164px;
    }

    .work__item-text p:first-child {
        flex: 0 0 28%;
    }
}

/* ------------ big-Mobile ------------- */

@media (max-width: 740px) {
    .work__item-img {
        height: 20vw;
    }

}

/* ------------ Mobile ------------- */

@media (max-width: 480px) {
    .section-works {
        padding: 50px 20px;
    }

    .work__item {
        padding: 25px;
    }

    .work__item-text {
        flex-direction: column;
        gap: 10px;
    }

    .work__item-text:not(:last-child) {
        align-items: flex-start;
    }

    .work__item-btns>div {
        justify-content: start;
        gap: 20px;
    }
}